# Force fresh install on Azure, don't use cache
cache=false
prefer-offline=false

# Force sqlite3 to build from source
sqlite3_binary_host_mirror=https://github.com/mapbox/node-sqlite3/releases/download/
